@media screen and (min-width: 375px) and (max-width: 480px){
    /* encabezado */

.encabezado{
    
    justify-content: center;

}
    ul{
flex-direction: column;
    gap: 1rem;
    

    
}
/* nosotros  */

.sobreNosotros{

.medio{
    grid-column: 1/4;
    
    .texto{
        width: 90%;
    }
    .icon{
   
        width: 100%;
        gap: 4rem;
        flex-direction: column;
        align-items: center; 
        
    }
}
}



iframe{
    width: 90%;
}
/* galeria */
.galeria{
  display: flex;
  flex-direction: column;
  gap: 5px;
    
}
}

@media screen and (min-width: 768px )and (max-width: 1024px) {
    /* menu  */

    .menu{
        grid-column: 1/4;
    }

    ul{
    gap: 2rem; 
    
 
    
}
/* nosotros */
.sobreNosotros{

.medio{
    grid-column: 1/4;
    

}
.icon{
   
    width: 100%;
    gap: 4rem;
    
}
}
}




