@media screen and (min-width: 375px) and (max-width: 520px) {
    /* encabezado */
    body header{
        position: relative;
        .stiker{
            top: 340px;

            padding: 15px 8px 15px 8px;
            width: 35px;
            height: 85px;
            position:  fixed;

            left: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 10px;
            background-color: #D02322;
            z-index: 2;
            color:white;
        }
    }


.contacto{
    margin: auto;
}
/* nosotros  */

.sobreNosotros{

.medio{
    grid-column: 1/4;
    
    .texto{
        width: 90%;
    }
    .icon{

        width: 100%;
        gap: 4rem;
        flex-direction: column;
        align-items: center; 
        
    }
}
}
#tipoEvento  fieldset{
    legend{
        .titulo_legend{
            font-size: 20px;
        }
    }


    .flex{
        flex-direction: column;
        gap: 10px;
        text-align: center;
        align-items: center;
    }
    }



iframe{
    width: 90%;
}
.direccion{
    flex-direction: column;
    padding: 25px 0;
}
/* galeria */
.galeria{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

// menu
.section{
    .efecto {
        width: 90%;
    } 
}
}


@media screen and (min-width: 768px )and (max-width: 1200px) {
/* menu  */
    ul{
    gap: 0.5rem; 
}

/* nosotros */
.sobreNosotros{

.medio{
    grid-column: 1/4;
    

}
.icon{
    width: 100%;
    gap: 4rem;
    
}
}
.contacto{
    margin:auto;
} 
}





