@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-style {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}
.text-style:hover {
  color: #D02322;
}

.logo {
  width: 179px !important;
  height: 89px !important;
}

.alto {
  height: 100vh;
}

body {
  position: relative;
}
body .stiker {
  padding: 15px 8px 15px 8px;
  width: 35px;
  height: 85px;
  position: fixed;
  top: 500px;
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 10px;
  background-color: #D02322;
  z-index: 2;
  color: white;
}
body .stiker i {
  color: white;
  cursor: pointer;
  padding-top: 5px;
}

.sobreNosotros {
  background-color: #E6E7E8;
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  justify-content: center;
}
.sobreNosotros .medio {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sobreNosotros .medio .texto {
  font-family: "Roboto", sans-serif;
  width: 580px;
  line-height: 24px;
  margin-bottom: 25px;
}
.sobreNosotros .medio .icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5rem;
}
.sobreNosotros .medio .icon .box_2 {
  transition: width 2s, height 2s, transform 2s;
}
.sobreNosotros .medio .icon .box_2:hover {
  transform: rotate(360deg);
}
.sobreNosotros .medio .icon .animate__wobble, .sobreNosotros .medio .icon .animate__backInDown {
  --animate-duration: 4s;
}
.sobreNosotros .medio .icon .contenedor__foto {
  text-align: center;
}
.sobreNosotros .medio .icon .contenedor__foto .parrafo {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#tipoEvento fieldset {
  width: 80%;
  border: 3px solid #D02322;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 21px 105px;
}
#tipoEvento fieldset legend {
  font-size: 21px;
  color: #D02322;
  float: none;
}
#tipoEvento fieldset .flex {
  display: flex;
  gap: 91px;
  justify-content: space-around;
}
#tipoEvento fieldset .flex .logo-evento {
  width: 78px;
  height: 57px;
}

.titulo {
  font-size: 36px;
  color: #D02322;
  margin-bottom: 10px;
  text-align: center;
}

.galeria {
  display: grid;
  grid-template-areas: "oreo     wok pure  pure" "ravioles donas pure  pure" "pescado   donas  varios  varios" " pescado  pasta  varios  varios";
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 1em;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.galeria .galeria_foto {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.galeria .ravioles {
  grid-area: ravioles;
}
.galeria .pure {
  grid-area: pure;
}
.galeria .pure:hover {
  transition: width 2s, height 2s, transform 3s;
  width: 500px;
  height: 490px;
  transition-duration: 2s;
  transition-delay: 1s;
}
.galeria .pescado {
  grid-area: pescado;
  transition: all 4s;
  transition: width 3s, height 3s, transform 4s;
  transition-delay: 0.5s;
}
.galeria .pescado:hover {
  width: 210px;
  height: 300px;
  z-index: 1;
}
.galeria .pasta {
  grid-area: pasta;
}
.galeria .pasta:hover {
  transition: width 2s, height 2s, transform 3s;
  width: 590px;
  height: 390px;
  transform: scale(1);
  transition-duration: 3s;
  transition-delay: 1s;
}
.galeria .wok {
  grid-area: wok;
  transition: all 4s;
  transition: width 3s, height 3s, transform 3s;
  transition-delay: 0.5s;
}
.galeria .wok:hover {
  width: 270px;
  height: 210px;
}
.galeria .oreo {
  grid-area: oreo;
}
.galeria .donas {
  grid-area: donas;
  transition: all 4s;
  transition: width 3s, height 3s, transform 4s;
  transition-delay: 0.5s;
}
.galeria .donas:hover {
  width: 390px;
  height: 290px;
}
.galeria .varios {
  grid-area: varios;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section .efecto {
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
}
.section .img1, .section .img2 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section .img1 .imagen, .section .img2 .imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section .img1:hover::before, .section .img2:hover::before {
  transform: scaleY(1);
}
.section .img1::before, .section .img2::before {
  content: "Menu Formal";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0F0C02;
  opacity: 0.9;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.section .img2 {
  background-image: url(/imagenes/ravioles.png);
}
.section .img2::before {
  content: "Menu frio";
}

.article {
  grid-area: article;
  background: radial-gradient(rgba(76, 169, 210, 0.6901960784), transparent);
}
.article .form-label {
  color: #D02322;
  text-align: center;
  font-weight: 900;
}
.article .botonEnviar {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  grid-area: footer;
  background: radial-gradient(rgba(167, 190, 224, 0.8509803922), transparent);
  text-align: center;
}
.footer .fondo {
  background: radial-gradient(rgba(53, 55, 57, 0.54), rgba(60, 53, 53, 0.5490196078));
}
.footer .img {
  width: 88px;
}
.footer .img:hover {
  border-radius: 12px;
  box-shadow: 10px 10px 10px black;
  background: radial-gradient(rgba(53, 55, 57, 0.54), rgba(60, 53, 53, 0.5490196078));
}
.footer .infoContacto {
  font-family: "ZonaPro-bold", "helvetica";
}

iframe {
  width: 100%;
  height: 400px;
}

.contacto {
  width: 310px;
  text-align: left;
  line-height: 3;
}

i {
  font-size: 20px;
  margin-right: 5px;
}

@media screen and (min-width: 375px) and (max-width: 520px) {
  /* encabezado */
  body header {
    position: relative;
  }
  body header .stiker {
    top: 339px;
    padding: 15px 8px 15px 8px;
    width: 35px;
    height: 85px;
    position: fixed;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10px;
    background-color: #D02322;
    z-index: 2;
    color: white;
  }
  .contacto {
    margin: auto;
  }
  /* nosotros  */
  .sobreNosotros .medio {
    grid-column: 1/4;
  }
  .sobreNosotros .medio .texto {
    width: 90%;
  }
  .sobreNosotros .medio .icon {
    width: 100%;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
  }
  #tipoEvento fieldset legend .titulo_legend {
    font-size: 20px;
  }
  #tipoEvento fieldset .flex {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
  }
  iframe {
    width: 90%;
  }
  .direccion {
    flex-direction: column;
    padding: 25px 0;
  }
  /* galeria */
  .galeria {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .section .efecto {
    width: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* menu  */
  ul {
    gap: 0.5rem;
  }
  /* nosotros */
  .sobreNosotros .medio {
    grid-column: 1/4;
  }
  .sobreNosotros .icon {
    width: 100%;
    gap: 4rem;
  }
  .contacto {
    margin: auto;
  }
}
.animate__backInLeft {
  --animate-duration: 5s;
}/*# sourceMappingURL=sass.css.map */